<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_about_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,62},{164,58}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{164,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>button_about_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{164,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,3},{164,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>button_options_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{206,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>button_options_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{206,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>button_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,62},{130,58}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{130,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>button_play_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{130,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,3},{130,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>labels-ipad.pvr.gz</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8565b4ce18e44d132b770de99262f7a$</string>
            <key>textureFileName</key>
            <string>labels-ipad.pvr.gz</string>
        </dict>
    </dict>
</plist>
