<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_about_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{82,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{82,28}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>button_about_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{82,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{82,28}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>button_options_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{102,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{102,28}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>button_options_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{104,28}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>button_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{66,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{66,28}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>button_play_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{66,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{66,28}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>button_scores_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{94,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{94,26}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>button_scores_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{94,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{94,26}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>labels.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17e1d57014fad9de17184eeee889f83e$</string>
            <key>textureFileName</key>
            <string>labels.png</string>
        </dict>
    </dict>
</plist>
