<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>cocos2d.x.fps</key>
		<integer>60</integer>
		<key>cocos2d.x.display_fps</key>
		<true/>
		<key>cocos2d.x.gl.projection</key>
		<string>3d</string>
		<key>cocos2d.x.texture.pixel_format_for_png</key>
		<string>rgba8888</string>
		<key>cocos2d.x.texture.pvrv2_has_alpha_premultiplied</key>
		<false/>
		<key>cocos2d.x.testcpp.autorun</key>
		<false/>
		<key>cocos2d.x.3d.max_dir_light_in_shader</key>
		<integer>1</integer>
		<key>cocos2d.x.3d.max_point_light_in_shader</key>
		<integer>1</integer>
		<key>cocos2d.x.3d.max_spot_light_in_shader</key>
		<integer>1</integer>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
