<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>grossini_dance_01.png</key>
		<dict>
			<key>x</key>
			<integer>347</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_02.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_03.png</key>
		<dict>
			<key>x</key>
			<integer>151</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_04.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_05.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_06.png</key>
		<dict>
			<key>x</key>
			<integer>399</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_07.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_08.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_09.png</key>
		<dict>
			<key>x</key>
			<integer>295</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_10.png</key>
		<dict>
			<key>x</key>
			<integer>232</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_11.png</key>
		<dict>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_12.png</key>
		<dict>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_13.png</key>
		<dict>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>grossini_dance_14.png</key>
		<dict>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
	</dict>
</dict>
</plist>
