<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Definitions</key>
	<dict>
		<key>Resources/CloseNormal.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/CloseNormal.png</string>
		</dict>
		<key>Resources/CloseSelected.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/CloseSelected.png</string>
		</dict>
		<key>Resources/Default.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default.png</string>
		</dict>
		<key>Resources/HelloWorld.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/HelloWorld.png</string>
		</dict>
		<key>Resources/Icon-72.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon-72.png</string>
		</dict>
		<key>Resources/Icon-Small-50.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon-Small-50.png</string>
		</dict>
		<key>Resources/Icon-Small.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon-Small.png</string>
		</dict>
		<key>Resources/Icon-Small@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon-Small@2x.png</string>
		</dict>
		<key>Resources/Icon.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon.png</string>
		</dict>
		<key>Resources/Icon@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon@2x.png</string>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/iTunesArtwork</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/iTunesArtwork</string>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>org.cocos2d-x.iosbase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Resources/CloseNormal.png</string>
		<string>Resources/CloseSelected.png</string>
		<string>Resources/Default.png</string>
		<string>Resources/HelloWorld.png</string>
		<string>Resources/Icon-72.png</string>
		<string>Resources/Icon-Small-50.png</string>
		<string>Resources/Icon-Small.png</string>
		<string>Resources/Icon-Small@2x.png</string>
		<string>Resources/Icon.png</string>
		<string>Resources/Icon@2x.png</string>
		<string>Resources/Info.plist</string>
		<string>Resources/iTunesArtwork</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string>-DNS_BLOCK_ASSERTIONS=1</string>
			</dict>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>QuartzCore</string>
				<string>OpenGLES</string>
				<string>OpenAL</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>UIKit</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>GCC_THUMB_SUPPORT[arch=armv6]</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string>-lxml2 -lz</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
