<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>Resources/CloseNormal.png</string>
		<string>Resources/CloseSelected.png</string>
		<string>Resources/Default.png</string>
		<string>Resources/HelloWorld.png</string>
		<string>Resources/Icon-72.png</string>
		<string>Resources/Icon-Small-50.png</string>
		<string>Resources/Icon-Small.png</string>
		<string>Resources/Icon-Small@2x.png</string>
		<string>Resources/Icon.png</string>
		<string>Resources/Icon@2x.png</string>
		<string>Resources/iTunesArtwork</string>
		<string>Resources/Info.plist</string>
		<string>ios/AppController.h</string>
		<string>ios/AppController.mm</string>
		<string>ios/RootViewController.h</string>
		<string>ios/RootViewController.mm</string>
		<string>ios/main.m</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string>-DNS_BLOCK_ASSERTIONS=1</string>
			</dict>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
	</dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>GCC_THUMB_SUPPORT[arch=armv6]</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string>-lxml2 -lz -lsqlite3 -websockets</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>QuartzCore</string>
				<string>OpenGLES</string>
				<string>OpenAL</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>UIKit</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Resources/CloseSelected.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/CloseSelected.png</string>
		</dict>
		<key>Resources/fps_images-hd.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/fps_images-hd.png</string>
		</dict>
		<key>Resources/fps_images-ipadhd.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/fps_images-ipadhd.png</string>
		</dict>
		<key>Resources/Default.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default.png</string>
		</dict>
		<key>Resources/CloseNormal.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/CloseNormal.png</string>
		</dict>
		<key>Resources/Icon-Small-50.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon-Small-50.png</string>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Resources/Info.plist</string>
		</dict>
		<key>Resources/Icon.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon.png</string>
		</dict>
		<key>Resources/HelloWorld.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/HelloWorld.png</string>
		</dict>
		<key>Resources/Icon-Small.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon-Small.png</string>
		</dict>
		<key>Resources/fps_images.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/fps_images.png</string>
		</dict>
		<key>Resources/iTunesArtwork</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/iTunesArtwork</string>
		</dict>
		<key>Resources/Icon-Small@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon-Small@2x.png</string>
		</dict>
		<key>Resources/Icon-72.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon-72.png</string>
		</dict>
		<key>Resources/fps_images.fnt</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/fps_images.fnt</string>
		</dict>
		<key>Resources/Icon@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon@2x.png</string>
		</dict>
		<key>ios/AppController.mm</key>
		<dict>
			<key>Group</key>
			<string>ios</string>
			<key>Path</key>
			<string>ios/AppController.mm</string>
		</dict>
		<key>ios/AppController.h</key>
		<dict>
			<key>Group</key>
			<string>ios</string>
			<key>Path</key>
			<string>ios/AppController.h</string>
		</dict>
		<key>ios/RootViewController.h</key>
		<dict>
			<key>Group</key>
			<string>ios</string>
			<key>Path</key>
			<string>ios/RootViewController.h</string>
		</dict>
		<key>ios/RootViewController.mm</key>
		<dict>
			<key>Group</key>
			<string>ios</string>
			<key>Path</key>
			<string>ios/RootViewController.mm</string>
		</dict>
		<key>ios/main.m</key>
		<dict>
			<key>Group</key>
			<string>ios</string>
			<key>Path</key>
			<string>ios/main.m</string>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>org.cocos2d-x.iosbase</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>What device family to create a project for.</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Device Family</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
