<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blocks9.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,302},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>blocks9r.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,108},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>blocks9c.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,374},{100,120}}</string>
			<key>offset</key>
			<string>{26,36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>blocks9cr.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,180},{100,120}}</string>
			<key>offset</key>
			<string>{26,36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>grossini_dance_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,2},{104,220}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,13},{104,220}}</string>
			<key>sourceSize</key>
			<string>{170,242}</string>
		</dict>
		<key>grossini_dance_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,224},{128,220}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,13},{128,220}}</string>
			<key>sourceSize</key>
			<string>{170,242}</string>
		</dict>
		<key>grossini_dance_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{128,220}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,13},{128,220}}</string>
			<key>sourceSize</key>
			<string>{170,242}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>blocks9ss.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a835cbe42b05233c069a35935fa2acb5$</string>
		<key>textureFileName</key>
		<string>blocks9ss.png</string>
	</dict>
</dict>
</plist>
