[submodule "cocos2dx/platform/third_party/android/source/libjpeg"]
	path = cocos2dx/platform/third_party/android/source/libjpeg
	url = git://github.com/folecr/jpeg8d.git
[submodule "cocos2dx/platform/third_party/android/source/libpng"]
	path = cocos2dx/platform/third_party/android/source/libpng
	url = git://github.com/folecr/platform_external_libpng.git
[submodule "cocos2dx/platform/third_party/android/source/libxml2"]
	path = cocos2dx/platform/third_party/android/source/libxml2
	url = git://github.com/folecr/platform_external_libxml2.git
