#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
*.sdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf

# Ignore files build by ndk and eclipse
libs/
bin/
obj/
gen/
assets/
#.classpath
#.project
#.cproject
local.properties

# Ignore files build by linux
*.o

# Ignore python compiled files
*.pyc

# Ignore files build by airplay
build_*_xcode/

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store
xcuserdata/

# Ignore files built by bada
.Simulator-Debug/
.Target-Debug/
.Target-Release/

# Ignore files built by blackberry
Simulator/
Device-Debug/
Device-Release/

# Ignore vim swaps
*.swp

# Ignore config files in javascript bindings generator
tools/tojs/user.cfg
# ... userconf.ini generated if running from tools/tojs
tools/tojs/userconf.ini
# ... userconf.ini generated if running from tools/jenkins_scripts/mac/android/
tools/jenkins_scripts/mac/android/userconf.ini
