# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug/
[Dd]ebug.win32/
*.sbr
*.sdf
obj/
[Rr]elease/
[Rr]elease.win32/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf

# Ignore files build by ndk and eclipse
libs/
bin/
obj/
gen/
assets/
local.properties

# Ignore python compiled files
*.pyc

# Ignore files build by airplay and marmalade
build_*_xcode/
build_*_vc10/

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/

# Ignore files built by AppCode
.idea/

# Ignore files built by bada
.Simulator-Debug/
.Target-Debug/
.Target-Release/

# Ignore files built by blackberry
Simulator/
Device-Debug/
Device-Release/

# Ignore vim swaps
*.swp
*.swo

# Ignore files created by create_project.py
projects/

# Ignore config files in javascript bindings generator
tools/tojs/user.cfg
# ... userconf.ini generated if running from tools/tojs
tools/tojs/userconf.ini
tools/tolua/userconf.ini
# ... userconf.ini generated if running from tools/jenkins_scripts/mac/android/
tools/jenkins_scripts/mac/android/userconf.ini

# CTags
tags

# ignore files, created with make-all-linux-project script
/lib
/build/linux-build

# Cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Ignore files generated by console
build/build/
cocos/scripting/lua-bindings/proj.ios_mac/build/
tests/*/runtime/
tests/*/publish/

# Android
project.properties

# Ignore prebuilt libraries folder
/external/xxhash/
/external/curl/
/external/edtaa3func/
/external/freetype2/
/external/glfw3/
/external/jpeg/
/external/json/
/external/linux-specific/
/external/lua/
/external/png/
/external/sqlite3/
/external/tiff/
/external/tinyxml2/
/external/unzip/
/external/webp/
/external/websockets/
/external/win32-specific/
/external/winrt-specific/
/external/wp8-specific/
/external/version.json
/templates/lua-template-runtime/runtime
/v*-deps-*.zip
/v*-lua-runtime-*.zip

/tests/lua-tests/res/

tests/hello/proj.android/.classpath
tests/hello/proj.android/.project
tests/hello/proj.android/.settings/org.eclipse.jdt.core.prefs
tests/lua-tests/proj.android/.classpath
tests/lua-tests/proj.android/.project
tests/lua-tests/proj.android/.settings/org.eclipse.jdt.core.prefs
tests/lua-tests/project/proj.android/.settings/org.eclipse.jdt.core.prefs


quick/player/mac/
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_aux.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_base.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_bit.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_debug.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_ffi.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_init.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_io.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_jit.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_math.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_os.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_package.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_string.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lib_table.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/libluajit.a
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/libluajit.so
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_alloc.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_api.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_asm.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_bc.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_bcdef.h
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_bcread.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_bcwrite.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_carith.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_ccall.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_ccallback.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_cconv.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_cdata.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_char.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_clib.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_cparse.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_crecord.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_ctype.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_debug.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_dispatch.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_err.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_ffdef.h
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_ffrecord.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_folddef.h
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_func.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_gc.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_gdbjit.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_ir.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_lex.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_lib.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_libdef.h
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_load.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_mcode.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_meta.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_obj.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_opt_dce.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_opt_fold.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_opt_loop.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_opt_mem.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_opt_narrow.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_opt_sink.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_opt_split.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_parse.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_recdef.h
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_record.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_snap.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_state.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_str.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_strscan.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_tab.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_trace.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_udata.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_vm.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_vm.s
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_vmevent.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/lj_vmmath.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/luajit
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/luajit.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/buildvm
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/buildvm.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/buildvm_arch.h
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/buildvm_asm.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/buildvm_fold.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/buildvm_lib.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/buildvm_peobj.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/minilua
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/host/minilua.o
quick/lib/cocos2dx/lua_extensions/LuaJIT-2.0.3/src/jit/vmdef.lua
