language: cpp
env:
  matrix:
  - GEN_BINDING=YES
  - GEN_COCOS_FILES=YES
  - PLATFORM=mac-ios PUSH_TO_MAC=YES
  - PLATFORM=linux DEBUG=1 CC_COMPILER=gcc CXX_COMPILER=g++
  # Disable clang build on linux temporarily since we're using "-stdlib=libc++ " which wasn't installed on travis machine.
  # - PLATFORM=linux DEBUG=1 CC_COMPILER=clang CXX_COMPILER=clang++
  # Since switching to C++11 only the ARM version of the nactive client
  # port currently builds.  TODO(sbc): Re-enable all architectures.
  # Disabled travis-ci build for native client port since it doesn't support std::thread, std::mutex.
  # - PLATFORM=nacl DEBUG=1 NACL_ARCH=arm
  - PLATFORM=android
  # - PLATFORM=emscripten DEBUG=1
  global:
  - secure: |-
      cHXOjAda+t2tmBVuVAiQfvhDN+unToO6hX1rc3dJeGDOk4rlQnylJacjA7o/
      enkWeHagbW2Ja4h7BxQz4h7dada8zEbIbEMK4VEHx6AWwQM+GIEqkJPv5g8k
      4P20MLpX4XyUwm/16btpnqgXlyd8Q3Zjh3Vui/5/VzwPnxUQEho=
  - secure: |-
      U/JsyiSR9q+8wX1arfciy3BdbMQaKmgt48/9tiU7P2RQJ/FR2AHGq85sNGI/
      ZUxN4JPLGALEvkFMo4NYyJDUcsdRHZX3vbp5xbSSRaBigqJIj3HDxtlPVf2m
      /W2GzcfNNX1ACO18hSWH0d2yFlF263ZmvudzQIfqTESfjGQBzwA=
  - secure: |-
      Wsngwo3jlZtvuPfr3RNhqrz/liNIhKYnlw4KYJO90gMQ9ZQKRTlMv2BMiPw/
      9lV+vgJQDRcFe7dKwtC86vk10EU7Ym2bhVmhMxi/AlmJXgavjmPVdizRT7rh
      X2Ry/Nb6hGRkH3WS0T3D/KG1+e7lP/TMB9bvo6/locLJ2A6Z1YI=
  - secure: PGMnEvysYv9Mnjrof05v9MU41ZlVO7A7SQb4oLuYqhBf0stvZUVEF4fmkOcXRPAd4Cg41aAbtE8RyGaqIFaKHtjHFtTdisM9XVXqL+eMfv5L+8nFCk4S5Fi/ohglO+FBJ9X/NLfAfRZmlwJR+UedU5AJwqlQbKraNkyv/FmDMUc=
script:
- export CC=$CC_COMPILER
- export CXX=$CXX_COMPILER
- tools/travis-scripts/run-script.sh
before_install:
- tools/travis-scripts/before-install.sh

# whitelist
branches:
  only:
    - v3
