matrix:
  include:
    # linux
    - os: linux
      dist: xenial
      env: 
        - BUILD_TARGET=linux 
        - GEN_BINDING_AND_COCOSFILE=true
        - secure: Xn48eX1TD6DAPcVPU+a+CD3b/BKGVCHk555zl8rZiLq4GH4rWSES23rKcY8uz/X9GizETWYQK2luNvph4/BA29XEZ7l+Q0V9AZwrahWPzCuDBgxSPAr4KlETGM9I3xEvRIKBeddko7JTFHZCcNsItPRA0CovndQzdKE6texm13A=
        - secure: M31OQaUIBV13aUMylPs2PieKThGs+ED0tj9SKbCKGKxwojl+N2ZhlS53D4Zqoj1ru/3P1X0pPeYvV0uVfM2dpEwRF4BmYVZQSrOKgjK1VfbcN5luWSeuAvq0LNGT99Ao02sKLbcHINiQ4axylPPgsY6+X/aoJNuKqBTQyaaVAo8=
        - secure: M5lyDs0qai15mWHzJdkh0WPfVJJmVZu6SWtYULxatukGPXVwoQvmEtYAwAW+iz6aM+tXksQ/mk6nW5L8UFbHm+n6yrsa5bZU9sGXjilPE8p8bLFYDmIbPRazU+E6pBP3J2CDoAm0XnWkiYQ8feTxKTo6ysLnHAEjyaHTw0+Q1GM=
      sudo: required
      language: cpp
    # clang-tidy
    - os: linux
      dist: xenial
      env: BUILD_TARGET=linux_clang_tidy
      language: cpp
      sudo: required
    # mac_cmake
    - os: osx
      env: BUILD_TARGET=mac_cmake
      language: cpp
      osx_image: xcode9.3
      sudo: required
    # iOS_cmake
    - os: osx
      env: BUILD_TARGET=ios_cmake
      language: cpp
      osx_image: xcode9.3
      sudo: required
    # android ndk-build
    - os: linux
      env: BUILD_TARGET=android_cpp_ndk-build
      language: android
      sudo: required
    # android_lua ndk-build
    - os: linux
      env: BUILD_TARGET=android_lua_ndk-build
      language: android
      sudo: required
    # android cmake
    - os: linux
      env: BUILD_TARGET=android_cpp_cmake
      language: android
      sudo: required
    # android_lua cmake
    - os: linux
      env: BUILD_TARGET=android_lua_cmake
      language: android
      sudo: required
    # android_js cmake
    - os: linux
      env: BUILD_TARGET=android_js_cmake
      language: android
      sudo: required
    # mac
    - os: osx
      env: BUILD_TARGET=mac
      language: cpp
      osx_image: xcode9.3
      sudo: required
    # iOS
    - os: osx
      env: BUILD_TARGET=ios
      language: cpp
      osx_image: xcode9.3
      sudo: required
    - os: linux
      env: BUILD_TARGET=android_cocos_new_cpp_test
      language: android
      sudo: required
    - os: linux
      dist: xenial
      env: BUILD_TARGET=linux_cocos_new_lua_test
      language: cpp
      sudo: required

script:
- tools/travis-scripts/run-script.sh
before_install:
- tools/travis-scripts/before-install.sh

cache:
  bundler: true

notifications:
  email: false

# blocklist
branches:
  except:
  - v1
  - v2
  - v4-develop
  - v3-doc
  - v3.11_backup
  - v35-for-tizen
