GCC_WARN_CHECK_SWITCH_STATEMENTS = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
CLANG_WARN_DOCUMENTATION_COMMENTS = NO
CLANG_WARN_EMPTY_BODY = NO
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_SHADOW = NO
CLANG_WARN_BOOL_CONVERSION = NO
CLANG_WARN_CONSTANT_CONVERSION = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
CLANG_WARN_ENUM_CONVERSION = NO
CLANG_WARN_INT_CONVERSION = NO
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_INFINITE_RECURSION = NO
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = NO
GCC_WARN_ABOUT_RETURN_TYPE = NO_ERROR
GCC_WARN_MISSING_PARENTHESES = NO
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_ABOUT_MISSING_NEWLINE = NO
CLANG_WARN_ASSIGN_ENUM = NO
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = NO
GCC_WARN_SIGN_COMPARE = NO
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = NO
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = NO
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = NO
GCC_WARN_UNINITIALIZED_AUTOS = NO_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = NO
CLANG_WARN_UNREACHABLE_CODE = NO
GCC_WARN_UNUSED_FUNCTION = NO
GCC_WARN_UNUSED_LABEL = NO
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO

CLANG_WARN__EXIT_TIME_DESTRUCTORS = NO
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = NO
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = NO
CLANG_WARN_SUSPICIOUS_MOVE = NO
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = NO
CLANG_WARN_CXX0X_EXTENSIONS = NO

CLANG_WARN_DIRECT_OBJC_ISA_USAGE = NO_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = NO
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = NO
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO
GCC_WARN_STRICT_SELECTOR_MATCH = NO
GCC_WARN_UNDECLARED_SELECTOR = NO
CLANG_WARN_OBJC_ROOT_CLASS = NO_ERROR

CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = NO
CLANG_WARN__ARC_BRIDGE_CAST_NONARC = NO
