<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>crystals/0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 167}, {39, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {39, 38}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 85}, {39, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {39, 38}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 85}, {39, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {39, 38}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 126}, {39, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {39, 38}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 208}, {39, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {39, 38}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/bomb-explo-inner.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 126}, {36, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 3}, {36, 34}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/bomb-explo.png</key>
		<dict>
			<key>frame</key>
			<string>{{43, 41}, {36, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {36, 37}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/bomb-hi.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 164}, {30, 29}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 6}, {30, 29}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/bomb-light.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 43}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{43, 1}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/hint.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>crystals/sparkle.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 196}, {15, 15}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {15, 15}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>crystals.png</string>
	</dict>
</dict>
</plist>
