<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blocks9.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,153},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>blocks9r.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,55},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>blocks9c.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,189},{50,60}}</string>
			<key>offset</key>
			<string>{13,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>blocks9cr.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,91},{50,60}}</string>
			<key>offset</key>
			<string>{13,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>grossini_dance_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,2},{51,109}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,7},{51,109}}</string>
			<key>sourceSize</key>
			<string>{85,121}</string>
		</dict>
		<key>grossini_dance_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,113},{63,109}}</string>
			<key>offset</key>
			<string>{-6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,7},{63,109}}</string>
			<key>sourceSize</key>
			<string>{85,121}</string>
		</dict>
		<key>grossini_dance_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{63,109}}</string>
			<key>offset</key>
			<string>{-6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,7},{63,109}}</string>
			<key>sourceSize</key>
			<string>{85,121}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>blocks9ss.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d2e254c947e029d7d89809b3b6cdb952$</string>
		<key>textureFileName</key>
		<string>blocks9ss.png</string>
	</dict>
</dict>
</plist>
