<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>geneva-regular-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{508,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{508,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>helvetica-regular-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{498,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,128}</string>
                <key>textureRect</key>
                <string>{{128,2},{498,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bmfont-rotated-test.png</string>
            <key>size</key>
            <string>{250,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:404120629fe631b449a08b9b19e69a2c:65dfae55236043f04822a4b3d14d288d:b41d4ffccc5285d084f64abded57400d$</string>
            <key>textureFileName</key>
            <string>bmfont-rotated-test.png</string>
        </dict>
    </dict>
</plist>
