<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,282},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,240},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>acorn.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,399},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,320}}</string>
                <key>sourceSize</key>
                <string>{960,320}</string>
            </dict>
            <key>brick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,332},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>brick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,216},{22,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{22,46}</string>
            </dict>
            <key>brick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,240},{90,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,12}}</string>
                <key>sourceSize</key>
                <string>{90,12}</string>
            </dict>
            <key>brick_platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,399},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>catapult_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,32},{46,182}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{46,182}}</string>
                <key>sourceSize</key>
                <string>{64,182}</string>
            </dict>
            <key>catapult_base_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{108,33}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{108,33}}</string>
                <key>sourceSize</key>
                <string>{124,41}</string>
            </dict>
            <key>catapult_base_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,324},{108,33}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{108,33}}</string>
                <key>sourceSize</key>
                <string>{124,41}</string>
            </dict>
            <key>catapult_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{28,56}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,182}</string>
            </dict>
            <key>disapear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,916},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>disapear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,399},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>disapear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,399},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>disapear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,399},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{960,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,73}}</string>
                <key>sourceSize</key>
                <string>{960,73}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,399},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>head_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,946},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>head_dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,399},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>squirrel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,916},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,76}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>squirrel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,80}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:816926b3f8f1f85a8e8e7c4566c6162c$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
