<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>46.849998474121094</real>
	<key>angleVariance</key>
	<real>0.0</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.0</real>
	<key>finishColorGreen</key>
	<real>0.0</real>
	<key>finishColorRed</key>
	<real>0.15999999642372131</real>
	<key>finishColorVarianceAlpha</key>
	<real>1</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>64</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>-276.32000732421875</real>
	<key>gravityy</key>
	<real>355.260009765625</real>
	<key>maxParticles</key>
	<real>1000</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.19740000367164612</real>
	<key>particleLifespanVariance</key>
	<real>2.1710999011993408</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>-4.5</real>
	<key>sourcePositionVariancey</key>
	<real>0.0</real>
	<key>sourcePositionx</key>
	<real>226.5</real>
	<key>sourcePositiony</key>
	<real>156.39999389648438</real>
	<key>speed</key>
	<real>0.0</real>
	<key>speedVariance</key>
	<real>203.94999694824219</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.14000000059604645</real>
	<key>startColorGreen</key>
	<real>0.43999999761581421</real>
	<key>startColorRed</key>
	<real>0.79000002145767212</real>
	<key>startColorVarianceAlpha</key>
	<real>0.5</real>
	<key>startColorVarianceBlue</key>
	<real>0.20000000298023224</real>
	<key>startColorVarianceGreen</key>
	<real>0.20000000298023224</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>41.680000305175781</real>
	<key>startParticleSizeVariance</key>
	<real>0.0</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>particle.png</string>
</dict>
</plist>
