<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>349</real>
	<key>angleVariance</key>
	<real>93</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>1</real>
	<key>finishColorAlpha</key>
	<real>0.32887318730354309</real>
	<key>finishColorBlue</key>
	<real>0.93377602100372314</real>
	<key>finishColorGreen</key>
	<real>0.95858514308929443</real>
	<key>finishColorRed</key>
	<real>0.19334913790225983</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.38997083902359009</real>
	<key>finishColorVarianceBlue</key>
	<real>0.37059104442596436</real>
	<key>finishColorVarianceGreen</key>
	<real>0.81526708602905273</real>
	<key>finishColorVarianceRed</key>
	<real>0.83449059724807739</real>
	<key>finishParticleSize</key>
	<real>43</real>
	<key>finishParticleSizeVariance</key>
	<real>18</real>
	<key>gravityx</key>
	<real>1.4500000476837158</real>
	<key>gravityy</key>
	<real>1.1499999761581421</real>
	<key>maxParticles</key>
	<real>285</real>
	<key>maxRadius</key>
	<real>60</real>
	<key>maxRadiusVariance</key>
	<real>85.263160705566406</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.0</real>
	<key>particleLifespanVariance</key>
	<real>2</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>360</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>-4.5</real>
	<key>sourcePositionVariancey</key>
	<real>0.0</real>
	<key>sourcePositionx</key>
	<real>191.15043640136719</real>
	<key>sourcePositiony</key>
	<real>217.41175842285156</real>
	<key>speed</key>
	<real>390</real>
	<key>speedVariance</key>
	<real>179</real>
	<key>startColorAlpha</key>
	<real>0.27146226167678833</real>
	<key>startColorBlue</key>
	<real>0.91891378164291382</real>
	<key>startColorGreen</key>
	<real>0.10308317095041275</real>
	<key>startColorRed</key>
	<real>0.7686341404914856</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0067866151221096516</real>
	<key>startColorVarianceBlue</key>
	<real>0.32555040717124939</real>
	<key>startColorVarianceGreen</key>
	<real>0.41684192419052124</real>
	<key>startColorVarianceRed</key>
	<real>0.79420870542526245</real>
	<key>startParticleSize</key>
	<real>3</real>
	<key>startParticleSizeVariance</key>
	<real>24</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>particle.png</string>
</dict>
</plist>
