<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,164}}</string>
                <key>sourceSize</key>
                <string>{210,164}</string>
            </dict>
            <key>bear_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bear_left_big_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,168},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>bear_left_bottom_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,138},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>bear_left_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,184},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>bear_left_little_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>bear_right_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,32},{58,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,38}</string>
            </dict>
            <key>bear_right_bottom-arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,92},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>bear_right_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,168},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>bear_right_little_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,216},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bear0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb2fe5da2d3811eb02886ffd1591e4bb$</string>
            <key>textureFileName</key>
            <string>bear0.png</string>
        </dict>
    </dict>
</plist>
