<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>textureFilename</key>
	<string>larabie-16.png</string>
	<key>itemWidth</key>
	<integer>20</integer>
	<key>itemHeight</key>
	<integer>40</integer>
	<key>firstChar</key>
	<integer>65</integer>
</dict>
</plist>
