<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grossini-arm-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{28,26}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>grossini-arm-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,78},{28,26}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>grossini-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,43}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>grossini-eyes-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{23,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,4}}</string>
                <key>sourceSize</key>
                <string>{25,6}</string>
            </dict>
            <key>grossini-eyes-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{23,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,4}}</string>
                <key>sourceSize</key>
                <string>{25,6}</string>
            </dict>
            <key>grossini-eyes-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,40},{23,2}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{23,2}}</string>
                <key>sourceSize</key>
                <string>{25,6}</string>
            </dict>
            <key>grossini-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{35,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>grossini-leg-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,40},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>grossini-leg-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animated-grossini.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f64bf1dbb50597d8a1599f1b397b6fdd$</string>
            <key>textureFileName</key>
            <string>animated-grossini.png</string>
        </dict>
    </dict>
</plist>
