<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-57.png</string>
		<string>Icon-114.png</string>
		<string>Icon-144.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-72.png</string>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon-57.png</string>
				<string>Icon-114.png</string>
				<string>Icon-144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>org.cocos2d-x.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>res/fonts/A Damn Mess.ttf</string>
		<string>res/fonts/Abberancy.ttf</string>
		<string>res/fonts/Abduction.ttf</string>
		<string>res/fonts/American Typewriter.ttf</string>
		<string>res/fonts/Courier New.ttf</string>
		<string>res/fonts/Marker Felt.ttf</string>
		<string>res/fonts/Paint Boy.ttf</string>
		<string>res/fonts/Schwarzwald Regular.ttf</string>
		<string>res/fonts/Scissor Cuts.ttf</string>
		<string>res/fonts/tahoma.ttf</string>
		<string>res/fonts/Thonburi.ttf</string>
		<string>res/fonts/ThonburiBold.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>FacebookAppID</key>
	<string>1426774790893461</string>
	<key>FacebookDisplayName</key>
	<string>myFc</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1426774790893461</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
