<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>cyan.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,54},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>green.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,54},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>orange.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,28},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>magenta.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,28},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>red.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,2},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tiles.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:547a4cdad6a171a27e438159a8eff6fb$</string>
		<key>textureFileName</key>
		<string>tiles.png</string>
	</dict>
</dict>
</plist>
