<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>child1.gif</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>father.gif</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>sister1.gif</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>sister2.gif</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
	</dict>
</dict>
</plist>