<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>grossini.png</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>121</integer>
		</dict>
		<key>grossinis_sister1.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>grossinis_sister2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>138</integer>
		</dict>
	</dict>
</dict>
</plist>