<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>grossini.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{77,111}</string>
			<key>spriteSourceSize</key>
			<string>{85,121}</string>
			<key>textureRect</key>
			<string>{{1,1},{77,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>test_RGBA8888.png</string>
		<key>size</key>
		<string>{79,113}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ad29d611fceadf8c409f092951e97e43:ef6b77cb31cb9547aa403602c0e428cd:71e039f5bf43cb7bf0081ac402bb1084$</string>
		<key>textureFileName</key>
		<string>test_RGBA8888.png</string>
	</dict>
</dict>
</plist>
