<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>parts-armL.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,660},{48,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>parts-armR.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,764},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>parts-armUpperL.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,376},{112,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,86}}</string>
                <key>sourceSize</key>
                <string>{112,86}</string>
            </dict>
            <key>parts-armUpperR.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,214},{160,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,94}}</string>
                <key>sourceSize</key>
                <string>{160,94}</string>
            </dict>
            <key>parts-beardL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>parts-beardR.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,342},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>parts-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{236,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,348}}</string>
                <key>sourceSize</key>
                <string>{236,348}</string>
            </dict>
            <key>parts-eyeL.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,464},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>parts-eyeR.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,982},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>parts-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,480},{124,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,282}}</string>
                <key>sourceSize</key>
                <string>{124,282}</string>
            </dict>
            <key>parts-handL.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,580},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>parts-handR.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,660},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>parts-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,394}}</string>
                <key>sourceSize</key>
                <string>{338,394}</string>
            </dict>
            <key>parts-legL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{204,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,180}}</string>
                <key>sourceSize</key>
                <string>{204,180}</string>
            </dict>
            <key>parts-legR.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,764},{180,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,232}}</string>
                <key>sourceSize</key>
                <string>{180,232}</string>
            </dict>
            <key>parts-tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{216,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,278}}</string>
                <key>sourceSize</key>
                <string>{216,278}</string>
            </dict>
            <key>parts-tailTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,210}}</string>
                <key>sourceSize</key>
                <string>{112,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dragon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d862888fd45ae67d58ebfbe9a5a6276a$</string>
            <key>textureFileName</key>
            <string>Dragon.png</string>
        </dict>
    </dict>
</plist>
