<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,218}}</string>
                <key>sourceSize</key>
                <string>{404,218}</string>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{166,386}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{166,386}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{138,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,244}}</string>
                <key>sourceSize</key>
                <string>{138,244}</string>
            </dict>
            <key>girl_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,548},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{44,66}</string>
            </dict>
            <key>girl_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,608},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>girl_arms.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{82,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,390}}</string>
                <key>sourceSize</key>
                <string>{82,390}</string>
            </dict>
            <key>girl_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>girl_foot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,116},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{98,82}</string>
            </dict>
            <key>girl_foot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,280},{110,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,90}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>girl_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,548},{78,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,150}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>girl_hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,608},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>girl_hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,200},{78,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,96}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>girl_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,474},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>girl_leg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,372},{88,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,110}}</string>
                <key>sourceSize</key>
                <string>{88,110}</string>
            </dict>
            <key>girl_leg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,462},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroAnimation0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1430066051a92f63f4bca5c292b7820$</string>
            <key>textureFileName</key>
            <string>HeroAnimation0.png</string>
        </dict>
    </dict>
</plist>
