<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>dance_1</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>grossini_dance_01.png</string>
				<string>grossini_dance_02.png</string>
				<string>grossini_dance_03.png</string>
				<string>grossini_dance_04.png</string>
				<string>grossini_dance_05.png</string>
				<string>grossini_dance_06.png</string>
				<string>grossini_dance_07.png</string>
				<string>grossini_dance_08.png</string>
				<string>grossini_dance_09.png</string>
				<string>grossini_dance_10.png</string>
				<string>grossini_dance_11.png</string>
				<string>grossini_dance_12.png</string>
				<string>grossini_dance_13.png</string>
				<string>grossini_dance_14.png</string>
			</array>
		</dict>
		<key>dance_2</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>grossini_dance_gray_01.png</string>
				<string>grossini_dance_gray_02.png</string>
				<string>grossini_dance_gray_03.png</string>
				<string>grossini_dance_gray_04.png</string>
				<string>grossini_dance_gray_05.png</string>
				<string>grossini_dance_gray_06.png</string>
				<string>grossini_dance_gray_07.png</string>
				<string>grossini_dance_gray_08.png</string>
				<string>grossini_dance_gray_09.png</string>
				<string>grossini_dance_gray_10.png</string>
				<string>grossini_dance_gray_11.png</string>
				<string>grossini_dance_gray_12.png</string>
				<string>grossini_dance_gray_13.png</string>
				<string>grossini_dance_gray_14.png</string>
			</array>
		</dict>
		<key>dance_3</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>grossini_blue_01.png</string>
				<string>grossini_blue_02.png</string>
				<string>grossini_blue_03.png</string>
				<string>grossini_blue_04.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
