.hvigor
.idea
node_modules
entry/build
entry/.idea
entry/.cxx
local.properties
oh-package-lock.json5
entry/src/main/resources/rawfile
oh_modules
libSysCapabilities/build
/.clangd
/.clang-tidy
.clang-format
hvigor/hvigor-wrapper.js