<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grossini_dance_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,1}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{561,1},{53,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,1}</string>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{65,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{159,1},{65,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{1,1}</string>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{65,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{226,1},{65,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{80,1},{77,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{1,0.5}</string>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{65,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{293,1},{65,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{65,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{360,1},{65,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{616,1},{53,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{1,0}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{671,1},{53,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.6}</string>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{65,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{427,1},{65,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.6}</string>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{65,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{494,1},{65,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.6}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{53,109}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{781,1},{53,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.6}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{726,1},{53,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.6}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{53,109}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{836,1},{53,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>grossini_anchors.png</string>
            <key>size</key>
            <string>{725,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef9cac6d01d7c3ca302eb80d450d5904:ee94489d5b464860e13794452160bab0:65210228f8c936c31b57247a85eb5a47$</string>
            <key>textureFileName</key>
            <string>grossini_anchors.png</string>
        </dict>
    </dict>
</plist>
