<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcc_grossini_dance_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{51,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{51,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>tcc_grossinis_sister1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,113}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{48,113}}</string>
                <key>sourceSize</key>
                <string>{52,139}</string>
            </dict>
            <key>tcc_grossinis_sister2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{54,126}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{54,126}}</string>
                <key>sourceSize</key>
                <string>{56,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tcc_issue_2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3eced1b14f9fe83f301cafc8863eb51$</string>
            <key>textureFileName</key>
            <string>tcc_issue_2.png</string>
        </dict>
    </dict>
</plist>
