<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvl1_map1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,360},{298,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{298,100}}</string>
                <key>sourceSize</key>
                <string>{312,100}</string>
            </dict>
            <key>lvl1_map2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{174,249}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{174,249}}</string>
                <key>sourceSize</key>
                <string>{176,259}</string>
            </dict>
            <key>lvl1_map3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{327,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,400}}</string>
                <key>sourceSize</key>
                <string>{327,400}</string>
            </dict>
            <key>lvl1_map4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{356,411}}</string>
                <key>sourceSize</key>
                <string>{360,411}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b01.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75fa3b17bb1f485ae38e2638ec6da711:1/1$</string>
            <key>textureFileName</key>
            <string>b01.png</string>
        </dict>
    </dict>
</plist>
