<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1275},{74,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,39}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>E1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1173},{96,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>E2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1243},{74,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,93}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>E3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1247},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>E4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1173},{89,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>E5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1173},{95,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,107}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,1169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,1169}}</string>
                <key>sourceSize</key>
                <string>{480,1169}</string>
            </dict>
            <key>ship01.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1173},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ship02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1173},{100,72}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{100,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ship03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{100,72}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{100,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textureTransparentPack.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c30a7cd03f24331e71eddccb0ee83ea5:1/1$</string>
            <key>textureFileName</key>
            <string>textureTransparentPack.png</string>
        </dict>
    </dict>
</plist>
