<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>W1.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,232},{12,30}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{12,30}}</string>
                <key>sourceSize</key>
                <string>{14,62}</string>
            </dict>
            <key>W2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{19,19}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,100},{96,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{96,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textureOpaquePack.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:264133b3f8692a94e25ec8a621b59e3d:1/1$</string>
            <key>textureFileName</key>
            <string>textureOpaquePack.png</string>
        </dict>
    </dict>
</plist>
