<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>org.cocos2d-x.bundlebase</string>
		<string>org.cocos2d-x.iosbase</string>
		<string>org.cocos2d-x.libcocos2dx</string>
		<string>org.cocos2d-x.libcocosdenshion</string>
		<string>org.cocos2d-x.libextensions</string>
		<string>org.cocos2d-x.libchipmunk</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Classes/AppDelegate.cpp</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.cpp</string>
		</dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/HelloWorldScene.cpp</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/HelloWorldScene.cpp</string>
		</dict>
		<key>Classes/HelloWorldScene.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/HelloWorldScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses cocos2d-x for iOS, including CocosDenshion </string>
	<key>Identifier</key>
	<string>org.cocos2d-x.cocos2dxOnlyIOSTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.cpp</string>
		<string>Classes/HelloWorldScene.h</string>
		<string>Classes/HelloWorldScene.cpp</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>deviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict/>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>&quot;___PACKAGENAME___/libs/Chipmunk/include/chipmunk&quot;</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
