<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grossini_dance_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{154,224}</string>
                <key>spriteSourceSize</key>
                <string>{170,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{132,224}</string>
                <key>spriteSourceSize</key>
                <string>{170,242}</string>
                <key>textureRect</key>
                <string>{{156,1},{132,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{108,224}</string>
                <key>spriteSourceSize</key>
                <string>{170,242}</string>
                <key>textureRect</key>
                <string>{{420,1},{108,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{130,224}</string>
                <key>spriteSourceSize</key>
                <string>{170,242}</string>
                <key>textureRect</key>
                <string>{{289,1},{130,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>grossini_quad.png</string>
            <key>size</key>
            <string>{529,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:911ff3e9b6b8468667aaf84e6c96896f:2b967e75e619c74e87994181cbebe458:79145fd6170a00316ae5cc0372defd34$</string>
            <key>textureFileName</key>
            <string>grossini_quad.png</string>
        </dict>
    </dict>
</plist>
