<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>org.cocos2d-x.bundlebase</string>
		<string>org.cocos2d-x.iosbase</string>
		<string>org.cocos2d-x.libcocos2dx</string>
		<string>org.cocos2d-x.libcocosdenshion</string>
		<string>org.cocos2d-x.libjs</string>
		<string>org.cocos2d-x.libspidermonkey</string>
		<string>org.cocos2d-x.libchipmunk</string>
		<string>org.cocos2d-x.libextensions</string>
		<string>org.cocos2d-x.libwebsockets</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Classes/AppDelegate.cpp</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.cpp</string>
		</dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/CCB/Abadi40-hd.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Abadi40-hd.fnt</string>
		</dict>
		<key>Resources/CCB/Abadi40-hd.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Abadi40-hd.png</string>
		</dict>
		<key>Resources/CCB/Abadi40-ipad.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Abadi40-ipad.fnt</string>
		</dict>
		<key>Resources/CCB/Abadi40-ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Abadi40-ipad.png</string>
		</dict>
		<key>Resources/CCB/Abadi40.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Abadi40.fnt</string>
		</dict>
		<key>Resources/CCB/Abadi40.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Abadi40.png</string>
		</dict>
		<key>Resources/CCB/About.ccbi</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/About.ccbi</string>
		</dict>
		<key>Resources/CCB/coins-hd.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/coins-hd.plist</string>
		</dict>
		<key>Resources/CCB/coins-hd.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/coins-hd.png</string>
		</dict>
		<key>Resources/CCB/coins.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/coins.plist</string>
		</dict>
		<key>Resources/CCB/coins.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/coins.png</string>
		</dict>
		<key>Resources/CCB/Gas40-hd.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Gas40-hd.fnt</string>
		</dict>
		<key>Resources/CCB/Gas40-hd.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Gas40-hd.png</string>
		</dict>
		<key>Resources/CCB/Gas40-ipad.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Gas40-ipad.fnt</string>
		</dict>
		<key>Resources/CCB/Gas40-ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Gas40-ipad.png</string>
		</dict>
		<key>Resources/CCB/Gas40.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Gas40.fnt</string>
		</dict>
		<key>Resources/CCB/Gas40.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/Gas40.png</string>
		</dict>
		<key>Resources/CCB/HUD.ccbi</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/HUD.ccbi</string>
		</dict>
		<key>Resources/CCB/konqa32-hd.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/konqa32-hd.fnt</string>
		</dict>
		<key>Resources/CCB/konqa32-hd.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/konqa32-hd.png</string>
		</dict>
		<key>Resources/CCB/konqa32-ipad.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/konqa32-ipad.fnt</string>
		</dict>
		<key>Resources/CCB/konqa32-ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/konqa32-ipad.png</string>
		</dict>
		<key>Resources/CCB/konqa32.fnt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/konqa32.fnt</string>
		</dict>
		<key>Resources/CCB/konqa32.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/konqa32.png</string>
		</dict>
		<key>Resources/CCB/labels-hd.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/labels-hd.plist</string>
		</dict>
		<key>Resources/CCB/labels-hd.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/labels-hd.png</string>
		</dict>
		<key>Resources/CCB/labels-ipad.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/labels-ipad.plist</string>
		</dict>
		<key>Resources/CCB/labels-ipad.pvr.gz</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/labels-ipad.pvr.gz</string>
		</dict>
		<key>Resources/CCB/labels.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/labels.plist</string>
		</dict>
		<key>Resources/CCB/labels.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/labels.png</string>
		</dict>
		<key>Resources/CCB/MainMenu.ccbi</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/MainMenu.ccbi</string>
		</dict>
		<key>Resources/CCB/stars2.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/stars2.png</string>
		</dict>
		<key>Resources/CCB/watermelon.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CCB</string>
			</array>
			<key>Path</key>
			<string>Resources/CCB/watermelon.png</string>
		</dict>
		<key>Resources/Default.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default.png</string>
		</dict>
		<key>Resources/fps_images-hd.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/fps_images-hd.png</string>
		</dict>
		<key>Resources/fps_images-ipadhd.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/fps_images-ipadhd.png</string>
		</dict>
		<key>Resources/fps_images.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/fps_images.png</string>
		</dict>
		<key>Resources/hello.js</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/hello.js</string>
		</dict>
		<key>Resources/Icon.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Icon.png</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses cocos2d-x for iOS, including CocosDenshion </string>
	<key>Identifier</key>
	<string>org.cocos2d-x.cocos2dxJSIOSTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.cpp</string>
		<string>Resources/CCB/Abadi40-hd.fnt</string>
		<string>Resources/CCB/Abadi40-hd.png</string>
		<string>Resources/CCB/Abadi40-ipad.fnt</string>
		<string>Resources/CCB/Abadi40-ipad.png</string>
		<string>Resources/CCB/Abadi40.fnt</string>
		<string>Resources/CCB/Abadi40.png</string>
		<string>Resources/CCB/About.ccbi</string>
		<string>Resources/CCB/coins-hd.plist</string>
		<string>Resources/CCB/coins-hd.png</string>
		<string>Resources/CCB/coins.plist</string>
		<string>Resources/CCB/coins.png</string>
		<string>Resources/CCB/Gas40-hd.fnt</string>
		<string>Resources/CCB/Gas40-hd.png</string>
		<string>Resources/CCB/Gas40-ipad.fnt</string>
		<string>Resources/CCB/Gas40-ipad.png</string>
		<string>Resources/CCB/Gas40.fnt</string>
		<string>Resources/CCB/Gas40.png</string>
		<string>Resources/CCB/HUD.ccbi</string>
		<string>Resources/CCB/konqa32-hd.fnt</string>
		<string>Resources/CCB/konqa32-hd.png</string>
		<string>Resources/CCB/konqa32-ipad.fnt</string>
		<string>Resources/CCB/konqa32-ipad.png</string>
		<string>Resources/CCB/konqa32.fnt</string>
		<string>Resources/CCB/konqa32.png</string>
		<string>Resources/CCB/labels-hd.plist</string>
		<string>Resources/CCB/labels-hd.png</string>
		<string>Resources/CCB/labels-ipad.plist</string>
		<string>Resources/CCB/labels-ipad.pvr.gz</string>
		<string>Resources/CCB/labels.plist</string>
		<string>Resources/CCB/labels.png</string>
		<string>Resources/CCB/MainMenu.ccbi</string>
		<string>Resources/CCB/stars2.png</string>
		<string>Resources/CCB/watermelon.png</string>
		<string>Resources/Default.png</string>
		<string>Resources/hello.js</string>
		<string>Resources/Icon.png</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>deviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict/>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>&quot;___PACKAGENAME___/libs/Chipmunk/include/chipmunk&quot; &quot;___PACKAGENAME___/libs/javascript/spidermonkey-ios/include&quot;</string>
				<key>OTHER_LDFLAGS</key>
				<string>-lxml2 -lsqlite3 -lz -ljs_static -lcurl</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
