<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos2d-x.base</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<array>
					<string>DEBUG</string>
					<string>COCOS2D_DEBUG=1</string>
					<string>USE_FILE32API</string>
					<string>CC_TARGET_OS_IPHONE</string>
					<string>CC_ENABLE_CHIPMUNK_INTEGRATION=1</string>
				</array>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<array>
					<string>NDEBUG</string>
					<string>USE_FILE32API</string>
					<string>CC_TARGET_OS_IPHONE</string>
					<string>CC_ENABLE_CHIPMUNK_INTEGRATION=1</string>
				</array>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
			<key>HEADER_SEARCH_PATHS</key>
			<array>
				<string>&quot;$(PROJECT_NAME)/libs/cocos2dx/kazmath/include&quot;</string>
				<string>&quot;$(PROJECT_NAME)/libs/cocos2dx&quot;</string>
				<string>&quot;$(PROJECT_NAME)/libs/CocosDenshion/include&quot;</string>
				<string>&quot;$(PROJECT_NAME)/libs/extensions&quot;</string>
				<string>&quot;$(PROJECT_NAME)/libs/cocos2dx/include&quot;</string>
				<string>&quot;$(PROJECT_NAME)/libs/cocos2dx/platform/third_party/ios&quot;</string>
				<string>&quot;$(PROJECT_NAME)/libs/cocos2dx/platform/ios&quot;</string>
			</array>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>WRAPPER_EXTENSION</key>
				<string>app</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
