<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robotFolder-bady-a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{38,64}</string>
            </dict>
            <key>robotFolder-bady-a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{19,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,69}}</string>
                <key>sourceSize</key>
                <string>{19,69}</string>
            </dict>
            <key>robotFolder-bady-a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,116},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>robotFolder-bady-b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{60,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,99}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
            <key>robotFolder-bady-b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,156},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>robotFolder-bady-f.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,73},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>robotFolder-bady-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>robotFolder-bady-l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{37,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,91}}</string>
                <key>sourceSize</key>
                <string>{37,91}</string>
            </dict>
            <key>robotFolder-bady-l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,103}}</string>
                <key>sourceSize</key>
                <string>{35,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>robot.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed546e1f2ed86a2f9a69acc0fafa9e90$</string>
            <key>textureFileName</key>
            <string>robot.png</string>
        </dict>
    </dict>
</plist>
