<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>button_actived.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,110},{42,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,26}}</string>
			<key>sourceSize</key>
			<string>{42,36}</string>
		</dict>
		<key>button_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,64},{42,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,26}}</string>
			<key>sourceSize</key>
			<string>{42,26}</string>
		</dict>
		<key>coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,64},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>crystal.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,4},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{56,56}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>dialog_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,354},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>dialog_corner.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,112},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{24,32}</string>
		</dict>
		<key>item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,258},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>mini_map_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,258},{142,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,142}}</string>
			<key>sourceSize</key>
			<string>{142,142}</string>
		</dict>
		<key>user_info_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{250,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,170}}</string>
			<key>sourceSize</key>
			<string>{250,170}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ui.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7251d97127580b1f2d0103d9b80ba020$</string>
		<key>textureFileName</key>
		<string>ui.png</string>
	</dict>
</dict>
</plist>
