<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grossini_dance_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{51,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{51,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,0},{63,109}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{63,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{63,109}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{63,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{75,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{75,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,109},{75,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{75,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,109},{63,109}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{63,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,109},{63,109}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{63,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,109},{51,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{51,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{51,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{51,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,218},{63,109}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{63,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,218},{63,109}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{63,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,218},{51,107}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{51,107}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{51,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{51,109}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>grossini_dance_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,327},{51,107}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{51,107}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
